<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tech Conference</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/img/favicon.ico" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    @* <link href="~/vendor/animate/animate.min.css" rel="stylesheet"> *@
    <link href="~/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/vendor/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/css/style.css" rel="stylesheet">
    @RenderSection("MyCSS", false)
    @RenderSection("Scripts", false)

</head>

<body>
    <!-- Topbar Start (會員列) -->
    <div id="topbar">
        <div class="container-fluid topbar-inner">
            <div class="topbar-left">
                @* 你要放搜尋/文字都行 *@
            </div>

            <div class="topbar-right">
                @if (Context.Session.GetString("MemberName") != null)
                {
                    <span class="topbar-text">@Context.Session.GetString("MemberName") 您好</span>

                    <a href="/Member/Profile" class="btn btn-sm btn-info">會員中心</a>

                    <form asp-controller="Member" asp-action="Logout" method="post" style="margin:0;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-sm btn-danger">登出</button>
                    </form>
                }
                else
                {
                    <a href="/Member/Login" class="btn btn-sm btn-outline-light">Login</a>
                    <a href="/Member/Register" class="btn btn-sm btn-light">Register</a>
                }
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Header Start (主選單列) -->
    <header id="header">
        <div class="container-fluid">
            <div id="logo" class="pull-left">
                @* <a href="/Home/Index"><img src="~/img/ticket_logo_03.png" alt="Logo" /></a> *@
                <a href="/Home/Index"><img src="~/img/logo.png" alt="Logo" /></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="/Home/index">Home</a></li>
                    <li><a href="/Concert/Index">Concerts</a></li>
                    <li><a href="/Sport/Index">Sports</a></li>
                    <li><a href="/Theater/Index">Theater</a></li>
                    <li><a href="/Venue/Index">Venue</a></li>
                    <li><a href="/Home/ticket">Tickets</a></li>
                    <li><a href="/Home/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
  

    


    <!-- Header end -->
    @RenderBody()
    <!-- Footer Start -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved<br>
                Template By <a href="https://htmlcodex.com">HTML Codex</a>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/jquery/jquery-migrate.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/easing/easing.min.js"></script>
    <script src="~/vendor/superfish/hoverIntent.js"></script>
    <script src="~/vendor/superfish/superfish.min.js"></script>
    <script src="~/vendor/waypoints/waypoints.min.js"></script>
    <script src="~/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/vendor/touchSwipe/jquery.touchSwipe.min.js"></script>

    <!-- Main Javascript File -->
    <script src="~/js/main.js"></script>
    @RenderSection("MyJS", false)
</body>
</html>
